<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    namespace 名称空间
    <select></select>标签 sql的类型 还有insert，update，delete等标签
    id 该sql语句的唯一标识
    resultType 该sql语句的返回类型
-->

<mapper namespace="USERMapper">
    <select id="selectAllUser" resultType="cn.seu.srtp.pojo.User">
        select * from USER;
    </select>


</mapper>